In [1]:
import pandas as pd
data = pd.read_csv('/Users/harsshgolechha/Desktop/Research/2023S1.csv')
data.head()

,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156,Unnamed: 157,Unnamed: 158,Unnamed: 159
0,11/10/2023 15:46,11/10/2023 16:16,IP Address,152.3.34.28,100,1808,True,11/10/2023 16:16,R_1IrWBkt8ERCUndV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25/10/2023 9:41,25/10/2023 9:59,IP Address,152.3.34.42,100,1101,True,25/10/2023 10:00,R_2wTY0cgxaBqr19U,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,27/02/2023 14:41,27/02/2023 14:49,IP Address,152.3.34.42,100,476,True,27/02/2023 14:50,R_23VuhDXGolsNvRo,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28/02/2023 8:37,28/02/2023 9:43,IP Address,152.3.34.42,100,3950,True,28/02/2023 9:44,R_ZLhhpkGHUkVwmU9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28/02/2023 9:44,28/02/2023 12:48,IP Address,152.3.34.42,100,11020,True,28/02/2023 12:49,R_Y50h9t88mvyl7Cp,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
data = data.dropna(axis=1,how='all')
data = data.drop(data.columns[[0,1,2,3,4,5,7,9,10,11,12,18]], axis=1)
data = data.drop('Upload Your Photos - Size', axis=1)
data = data.drop('Upload Your Photos - Type', axis=1)
data = data.drop('Data Sheet Upload\n\nLast Step! Please upload a scan or photo of your completed field data sheet whether you saw herps or not. (PDF or JPG please).\n\n\n\nIMPORTANT â€“ Please use the following naming convention to name the jpeg or pdf file of your datasheet: YYYY.MM.DD_transectID_Datasheet. For example: "2022.04.27_48-2_Datasheet.pdf" - Size', axis=1)
data.drop('Data Sheet Upload\n\nLast Step! Please upload a scan or photo of your completed field data sheet whether you saw herps or not. (PDF or JPG please).\n\n\n\nIMPORTANT â€“ Please use the following naming convention to name the jpeg or pdf file of your datasheet: YYYY.MM.DD_transectID_Datasheet. For example: "2022.04.27_48-2_Datasheet.pdf" - Type', axis=1)
data.drop('Data Sheet Upload\n\nLast Step! Please upload a scan or photo of your completed field data sheet whether you saw herps or not. (PDF or JPG please).\n\n\n\nIMPORTANT â€“ Please use the following naming convention to name the jpeg or pdf file of your datasheet: YYYY.MM.DD_transectID_Datasheet. For example: "2022.04.27_48-2_Datasheet.pdf" - Type', axis=1)
data.head()

,Finished,Response ID,Transect ID,Survey Date (mm/dd/yyyy),Survey Start Time\n\nRound to the closest hour.,Are you a Community Scientist or are you participating in a Duke class?,What team was scheduled for this transect?,"Observer Names\n\nPlease include all Observers' full names, including First and Last names. - Recorder (you)","Observer Names\n\nPlease include all Observers' full names, including First and Last names. - Other Observer(s)","Temperature, in degrees Fahrenheit.\n\n\n\n**Simply write the number, i.e. 55 or 78. No need to include ""Â°F"" or ""degrees"".",...,"Observation of Species\nCover ID should be coded ""Short Transect ID_Cover ID"" (ex. 4_W2, 22_T3, 48-1_W9) - This Occurrence - Cover ID.12","Observation of Species\nCover ID should be coded ""Short Transect ID_Cover ID"" (ex. 4_W2, 22_T3, 48-1_W9) - This Occurrence - Total.12","Observation of Species\nCover ID should be coded ""Short Transect ID_Cover ID"" (ex. 4_W2, 22_T3, 48-1_W9) - This Occurrence - Photo (y/n).12",Upload Your Photos - Id,Upload Your Photos - Name,"Data Sheet Upload\n\nLast Step! Please upload a scan or photo of your completed field data sheet whether you saw herps or not. (PDF or JPG please).\n\n\n\nIMPORTANT â€“ Please use the following naming convention to name the jpeg or pdf file of your datasheet: YYYY.MM.DD_transectID_Datasheet. For example: ""2022.04.27_48-2_Datasheet.pdf"" - Id","Data Sheet Upload\n\nLast Step! Please upload a scan or photo of your completed field data sheet whether you saw herps or not. (PDF or JPG please).\n\n\n\nIMPORTANT â€“ Please use the following naming convention to name the jpeg or pdf file of your datasheet: YYYY.MM.DD_transectID_Datasheet. For example: ""2022.04.27_48-2_Datasheet.pdf"" - Name","Data Sheet Upload\n\nLast Step! Please upload a scan or photo of your completed field data sheet whether you saw herps or not. (PDF or JPG please).\n\n\n\nIMPORTANT â€“ Please use the following naming convention to name the jpeg or pdf file of your datasheet: YYYY.MM.DD_transectID_Datasheet. For example: ""2022.04.27_48-2_Datasheet.pdf"" - Type","Comments/Issues\n\nPlease list any important comments about your data (observations, photos, or other important information we should know). \n\n\n\nIf you are a Community Scientist volunteer and have ""Damage to report"" or other transect conditions to report, please use the Transect Maintenance tab in the @Data channel in MS Teams. If you are a student/staff/researcher, please put it here.",Administrative Comments
0,True,R_1IrWBkt8ERCUndV,Gate C-2 (DU_GC_C62),27/01/2023,2:00 PM,Participating in a Duke Class (Grunwald),NaN,Ron Grunwald,"Angela Addae, Nia Williams, Emi Hegarty",50.0,...,NaN,NaN,NaN,F_24zRdomzjo9cESI,2023.01.27_C-2_Photos.docx,F_1OJIKsAlUmZLitj,2023.01.27_C-2_Data Sheet.pdf,application/pdf,NaN,Photos were not provided for every Red-Backed ...
1,True,R_2wTY0cgxaBqr19U,Gate C-1 (DU_4_GC_C61),27/01/2023,2:00 PM,Participating in a Duke Class (Grunwald),NaN,Maggie Heraty (on behalf of Ron Grunwald),"Bio348LS class (aggregate) - Angela Addae, Dan...",50.0,...,NaN,NaN,NaN,F_32WMxfa9anv1Tz3,2023.01.27_C-1.docx,F_1JLOooOmYOw99Ec,2023.01.27_C-1_Data sheet .pdf,application/pdf,ALL salamanders observed during this transect ...,NaN
2,True,R_23VuhDXGolsNvRo,Gate 8 (DU_5_G8_C62),16/02/2023,5:00 PM,Duke Forest Staff,NaN,Maggie Heraty,2023 Herp Program Make-up Training: Susan Prat...,74.0,...,NaN,NaN,NaN,F_Ugt7ecaGO0U9ePT,2023.02.16_8_Photos.docx,F_1DqB8iYeyTRKHhP,2023.02.16_8_Datasheet.pdf,application/pdf,"At coverboard 8_T2, 20% of the ground surface ...",Field mouse observed at 8_T1.
3,True,R_ZLhhpkGHUkVwmU9,Gate C-1 (DU_4_GC_C61),18/02/2023,1:00 PM,Duke Forest Staff,NaN,Maggie Heraty,Field Trip for the Duke Health and Environment...,46.0,...,NaN,NaN,NaN,F_2TFWhHChSxuCx6U,2023.02.18_C-1_Photos.docx,F_3pmCmsfAmRu0LKM,2023.02.18_C-1_Datasheet.JPG,image/jpeg,This data was collected by undergraduate mento...,NaN
4,True,R_Y50h9t88mvyl7Cp,Gate C-2 (DU_GC_C62),18/02/2023,1:00 PM,Duke Forest Staff,NaN,Maggie Heraty,Field Trip for the Duke Health and Environment...,46.0,...,NaN,NaN,NaN,F_2zVmZdkbX9sa4gD,2023.02.18_C-2_Photos.docx,F_1fjCVYxqkAUqLaK,2023.02.18_C-2_Datasheet.JPG,image/jpeg,This data was collected by undergraduate mento...,NaN

In [ ]:
"""long_format = pd.melt(data, id_vars=id_vars, value_vars=occurrence_columns,
                      var_name='Occurrence', value_name='Species')

# Remove rows where 'Species' is NaN
long_format = long_format.dropna(subset=['Species'])

# Filter out columns you don't need immediately after melting
columns_needed = ['Response ID', 'Short Transect ID', 'Species', 'Occurrence',
                  'Cover ID', 'Total', 'Photo (y/n)']  # Adjust these names based on your actual data columns
long_format = long_format[columns_needed]

# Further restructuring if needed
# e.g., Extract or transform 'Cover ID' into the format "Short Transect ID_Cover ID"
# This is just a placeholder transformation, adjust the logic to your needs
long_format['Cover ID'] = long_format['Short Transect ID'].astype(str) + '_' + long_format['Cover ID']

# Sort by 'Response ID' and 'Occurrence'
long_format.sort_values(['Response ID', 'Occurrence'], inplace=True)

# Save or display the data
long_format.to_csv('/mnt/data/Final_Cleaned_Data.csv', index=False)
long_format.head()"""

occurrence_columns = [col for col in data.columns if 'Species/Occurrence' in col]
id_vars = [col for col in data.columns if col not in occurrence_columns]

occurrence_columns, id_vars[:10]

long_format = pd.melt(data, id_vars=id_vars, value_vars=occurrence_columns,var_name='Occurrence', value_name='Species')

# Remove rows where 'Species' is NaN as these don't contain valid occurrence data
long_format = long_format.dropna(subset=['Species'])

# Sorting by 'Start Date' if it's supposed to help in structuring the data
long_format['Survey Date (mm/dd/yyyy)'] = pd.to_datetime(long_format['Survey Date (mm/dd/yyyy)'], format='%d/%m/%Y')
long_format.sort_values('Transect ID', inplace=True)
long_format.sort_values('Survey Date (mm/dd/yyyy)', inplace=True)
long_format.head()

In [3]:
# Assuming the column names include identifiers like 'Response ID' and occurrence data
id_vars = ['Response ID', 'Survey Date', 'Transect ID']  # Adjust to match actual identifier columns
occurrence_columns = [col for col in data.columns if 'Species/Occurrence' in col]  # Adjust if necessary

# Melt the DataFrame to long format
long_format = pd.melt(data, id_vars=id_vars, value_vars=occurrence_columns,
                      var_name='Occurrence', value_name='Species')

# Remove rows where 'Species' is NaN as these don't contain valid occurrence data
long_format = long_format.dropna(subset=['Species'])

# (Optional) Apply any additional filtering or column transformations
# For example, suppose you want to combine two columns into a new one
# long_format['New Column'] = long_format['Existing Column 1'] + long_format['Existing Column 2']

# Sorting by 'Survey Date' if this column exists and needs to be in datetime format
if 'Survey Date' in long_format.columns:
    long_format['Survey Date'] = pd.to_datetime(long_format['Survey Date'])  # Ensuring it's in datetime format
    long_format.sort_values('Survey Date', inplace=True)

KeyError: "The following 'id_vars' are not present in the DataFrame: ['Survey Date']"

In [ ]:
output_path = '/Users/harsshgolechha/Desktop/Research/Cleaned_Data.csv'
long_format.to_csv(output_path, index=False)